* {
  box-sizing: border-box;
}

:root {
  --bodybackgroundcolor: white;
  --bodyfontcolor: black;
  --lightempcolor: orange;
  --empcolor: orangered;
  --biobackgroundcolor: black;
  --biofontcolor: white;
  --legendfontcolor: darkgrey;
  --footfontcolor: antiquewhite;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: var(--bodybackgroundcolor);
  color: var(--bodyfontcolor);
  margin: 0;
}

header {
  color: var(--bodyfontcolor);
}

h1 {
  font-size: 8rem;
  font-weight: 700;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  text-shadow: 3px 3px 1px var(--empcolor);
}

blockquote {
  text-align: center;
}

blockquote cite {
  display: none;
}

.biography-group {
  background-color: var(--biobackgroundcolor);
  width: 100%;
  padding: 20px;
  font-size: 1.5rem;
  border-top: 3px solid var(--empcolor);
}

#tribute-info {
  width: 90%;
  margin: auto auto 0 auto;
  color: var(--biofontcolor);
}

#tribute-info p {
  text-align: justify;
}

#tribute-info p:last-of-type {
  margin-bottom: 0;
}

figure {
  width: 50%;
  float: left;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 10px;
}

figcaption {
  margin: 0.5rem 1rem 0;
  font-size: 0.75rem;
  font-style: italic;
  color: var(--legendfontcolor);
}

a {
  text-decoration: none;
  color: var(--lightempcolor);
}

a:hover {
  color: var(--empcolor);
}

footer {
  border-top: 1px solid var(--biobackgroundcolor);
  border-bottom: 1px solid var(--biobackgroundcolor);
  background: linear-gradient(grey, var(--biobackgroundcolor));
}

footer p {
  color: var(--footfontcolor);
  text-align: center;
  text-shadow: 1px 1px var(--bodyfontcolor);
}
