* {
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: white;
  color: black;
  margin: 0;
}

header {
  color: black;
}

h1 {
  font-size: 8rem;
  font-weight: 700;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  text-shadow: 3px 3px 1px orangered;
}

blockquote {
  text-align: center;
}

blockquote cite {
  display: none;
}

.biography-group {
  background-color: black;
  width: 100%;
  padding: 20px;
  font-size: 1.5rem;
  border-top: 3px solid orangered;
}

#tribute-info {
  width: 90%;
  margin: auto auto 0 auto;
  color: white;
}

#tribute-info p {
  text-align: justify;
}

#tribute-info p:last-of-type {
  margin-bottom: 0;
}

figure {
  width: 50%;
  float: left;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 10px;
}

figcaption {
  margin: 0.5rem 1rem 0;
  font-size: 0.75rem;
  font-style: italic;
  color: darkgray;
}

a {
  text-decoration: none;
  color: orange;
}

a:hover {
  color: orangered;
}

footer {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background: linear-gradient(grey, black);
}

footer p {
  color: antiquewhite;
  text-align: center;
  text-shadow: 1px 1px black;
}
